*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    color: #212529;
    line-height: 1.5;
}

#headerMain { /*fundo cabeçalho todo*/
    background-color: #345C64;
    text-align: center;
    /*border-bottom: 1px solid #000000;*/
}

#logoVerde { /*logo cabeçalho*/
    width: 7.5rem;
    height: auto;
    display: block;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

#logoVerde:hover{ /*logo cabeçalho quando passa o mouse*/
  transform: scale(1.05);
}


.menu-header { /*parte atrás das opções do menu + espaçamento das opções*/
    background-color: #345C64;
    padding: 1.25rem;
    display: flex;
    gap: 1.25rem;
    align-items: center;
    font-family: 'Georgia', serif;
  }
  
  .menu-btn { /*opções do menu*/
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem; 
    cursor: pointer;
    text-shadow: .6rem .6rem 1.5rem rgb(0, 0, 0);
    transition: transform 0.3s ease;
    padding: .5rem;
  }
  
  .menu-btn:hover { /*opções do menu quando passa o mouse*/
    transform: scale(1.1);
  }
  
  .cta-btn { /*botão menu "adquira um precatório"*/
    background-color: #e4e4e4;
    border: none;
    padding: 0 .8rem 0 .8rem;
    height: 3.45rem;
    border-radius: 0.6rem;
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
  }
  
  .cta-btn:hover { /*botão menu "adquira um precatório" quando passa o mouse*/
    background-color: #d6d6d6;
    transform: scale(1.05);
  }

  .header-container { /*espaçamento dos itens do cabeçalho*/
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /*section {
    position: relative;
    overflow: hidden;
    /* height: 100vh; */
  /*}*/
  
  .marca-dagua.branco { /*marca dagua dos fundos claros?*/
    width: 100%;
    height: 100%;
    background-color: rgb(156, 156, 156);
    background-image: url('../img/backgroundBranco.png');
    background-repeat: no-repeat;
    background-position: center 41%;
    background-size: 70%;
    opacity: 0.30;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .marca-dagua.azul { /*fundo da marca dagua azul*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #235461; 
    pointer-events: none;
    z-index: 0;
    overflow: hidden; 
  }
  
  .marca-dagua.azul::before { /*marca dagua em si do fundo azul*/
    content: "";
    position: absolute;
    inset: 0; 
    background-image: url('../img/backgroundVerde.png');
    background-repeat: no-repeat;
    background-position: center 41%; 
    background-size: 50%;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1; 
  }
  

.texto-depoimento h1 { /*título primeira tela*/
  font-weight: bold;
  color: #1e3c40;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 
  font-family: 'Georgia', serif;
  
  
  width: 100%;
}

.texto-depoimento {
  padding-left: 0rem;
}

.texto-depoimento p { /*texto ao lado do vídeo; sobre o cliente*/
  color: #1e3c40;
  margin-bottom: 0.5rem;
  
}

.video-depoimento {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-placeholder {
  background-color: rgba(30, 60, 64, 0.15);
  width: 100%;
  max-width: 60rem;
  height: 30rem;       
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3); 
  color: #1e3c40;
}

.btn-comprar {
  background-color: #1E3C40;
  color: white;
  font-weight: bold;
  padding: 0.75rem 2rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3); 
  cursor: pointer;
}

.btn-comprar:hover {
  background-color: #2f5a5f;
}

/*TELA INICIO(SEGUNDA TELA)*/
#inicio {
  background-color: #4c6e76;
  padding: 5rem 2rem;
  color: #ffffff;
  height: 63vh;
}

.titulo-principal {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.subtitulo-principal {
  font-size: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: #f0f0f0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.btn-melhorProposta {
  background-color: #ffffff;
  color: #1e3c40;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  white-space: normal; /* PERMITE QUEBRE DE LINHA */
}

.btn-melhorProposta:hover {
  background-color: #e6e6e6;
}

/*TELA SOBRE EMPRESA*/
#sobreEmpresa {
  background-color: #f8f9fa;
  color: #1e3c40;
}

.titulo-principal-sobre {
  font-size: 3rem;
  font-weight: 700;
  color: #1e3c40;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.subtitulo-principal-sobre {
  font-size: 1.5rem;
  color: #1e3c40;
  margin-bottom: 2rem;
}

.card-sobre {
  background-color: #2f545c;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  height: 20rem;
  opacity: 0.7;
}

#sobreEmpresaRodape{
  font-size: 1.1rem;
}

.btn-interesse {
  background-color: #1e3c40;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem 2rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.btn-interesse:hover {
  background-color: #2f5a5f;
}

.me-2 {
  margin-right: 0.5rem;
}
  
/*TELA MOTIVOS*/
#motivosEscolha{
  height: 63vh;
}

.titulo-principal-motivos {
  font-size: 3rem;
  font-weight: 700;
  color: #1e3c40;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
  
  